In [1]:
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
df = pd.read_csv('2019_nCoV_20200121_20200206.csv')
df = df.fillna(value = 0) 
df.head()

,Province/State,Country/Region,Last Update,Confirmed,Suspected,Recovered,Death
0,Hubei,Mainland China,2/5/20 16:43,16678.0,0.0,538.0,479.0
1,Guangdong,Mainland China,2/5/20 13:23,895.0,0.0,49.0,0.0
2,Zhejiang,Mainland China,2/5/20 15:13,895.0,0.0,78.0,0.0
3,Henan,Mainland China,2/5/20 15:03,764.0,0.0,47.0,2.0
4,Hunan,Mainland China,2/5/20 15:23,661.0,0.0,54.0,0.0

In [3]:
def Frequency_encoding(df, col):
    # Extaemos la columna del Data Frame a transformar
    column = df.loc[:,col]
    column.value_counts() # estos valores son con los que reemplazaremos las categorias

    # Ponemos la columna en una lista
    column = column.values
    column = column.tolist()

    # Creamos un arreglo aux igual a la columna del Data Frame
    aux =[]
    aux= column[:]

    # iteramos por cada elemento en la columna para modificar 
    for i in range(len(aux)):
        # Categoria = frecuencia que aparece en la columna  
        aux[i] = column.count(aux[i])

    # Convertimos la lista en DataFrame
    aux = pd.DataFrame(aux)
    col_1 = col + '_Fe' 
    #Añadimos aux al DataFrame original 
    df.insert(0,col_1,aux)

    df.drop(col,axis=1, inplace=True)

In [4]:
Frequency_encoding(df, 'Province/State')
Frequency_encoding(df, 'Country/Region')
df.drop(['Suspected', 'Last Update'],axis=1, inplace=True)
df.head()

   Country/Region_Fe  Province/State_Fe  Confirmed  Recovered  Death
0               1028                 34    16678.0      538.0  479.0
1               1028                 34      895.0       49.0    0.0
2               1028                 34      895.0       78.0    0.0
3               1028                 34      764.0       47.0    2.0
4               1028                 34      661.0       54.0    0.0

In [5]:
# Definimos quién es X y quién y
X = df.iloc[:, :-2].values
y = df.iloc[:, -1].values

In [6]:
# Splitting the dataset into the Training set and Test set
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 1/3, random_state = 123)

In [7]:
# Fitting Simple Linear Regression to the Training set 
from sklearn.linear_model import LinearRegression 
model = LinearRegression()
model.fit(X_train, y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [8]:
# Predicting the Test set results 
y_pred = model.predict(X_test)
print ("Desempeño del modelo: ", model.score(X_test, y_test))

Desempeño del modelo:  0.9882656774083322

In [9]:
from sklearn.model_selection import KFold
from sklearn.model_selection import train_test_split
from sklearn.model_selection import cross_val_score

In [10]:
kf = KFold(n_splits=5, shuffle=True, random_state=123)
cv_scores = cross_val_score(model, X_train, y_train, cv=kf)
print("Desepeño de cross-validation con 5 volúmenes:", cv_scores.mean())

Desepeño de cross-validation con 5 volúmenes: 0.9378998477975898